<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Turma <%= group %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/group.css">
</head>
<body>
  <div class="container">
    <h1>Turma <%= group %></h1>
    
    <div class="cards">
      <% links.forEach(l => { %>
        <a href="<%= l.url%>">
          <div class="card">
            <p><%= l.name %></p>
        </div>
        </a>
      <% }) %>
    </div>

    <div class="voltar">
      <a href="/" class="btn-voltar">Página Inicial</a>
    </div>
  </div>
</body>
</html>
