<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Selecione a Turma</title>
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <div class="container">
    <h1>Selecione a turma</h1>
    <div class="buttons">
      <a href="/A" class="btn A">A</a>
      <a href="/B" class="btn B">B</a>
    </div>
  </div>
</body>
</html>