<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/home.css">
  <title>Noticias</title>
</head>
<body>
  <h1>Turmas:</h1>

<div class="botoes">
  <a href="/A">
    <div class="botao A">
      <p>A</p>
    </div>
  </a>
  <a href="/B">
    <div class="botao B">
      <p>B</p>
    </div>
  </a>
</div>
</body>
</html>