<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Documento</title>
  <link rel="stylesheet" href="/wrapper.css">
</head>
<body>
  
  <div class="tela">
    <div class="html">
      <%- content %> 
    </div>

    <a href="javascript:history.back()">
      <button>
        <p>voltar</p>
      </button>
    </a>
  </div>

</body>
</html>