<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Documento</title>
  <link rel="stylesheet" href="/wrapper.css">
</head>
<body>
  
  <div class="tela">
    <div class="html">
      <p><%- content %> </p>
    </div>

    <div class="voltar">
      <a href="/<%- group %>" class="btn-voltar">Voltar</a>
    </div>
  </div>

</body>
</html>