* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #fce4ec, #e1f5fe);
  padding: 20px;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color: #333;
  font-size: 28px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 10px;
}

a{
    text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  color: #333;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  text-decoration: none;
  color: #6200ea;
  font-weight: bold;
  font-size: 18px;
  word-wrap: break-word;
}

/* 2 colunas para telas médias ou maiores */
@media (min-width: 600px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

.voltar {
  margin-top: 40px;
}

.btn-voltar {
  display: inline-block;
  padding: 12px 24px;
  background-color: #6200ea;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-voltar:hover {
  background-color: #3700b3;
}
